.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.item {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    margin-bottom: 14px;
    width: 34%;
}

.name {
  flex: 2;
  margin-right: 10px;
}

.dueDate {
  flex: 1;
  margin-right: 10px;
}
